# Git Ignore file for Java Tutorial
*~
*.bak
*.egg-info/
*.pot
*.pyc
*.pyo
*.rpm
*.sqlite
*.swo
*.swp
*.mo
*.tar
*.tar.gz
*.zip
*.img
*.qcow2
*.ova
*.vmdk
*.exe
.cache.bundle/
.clover/
.coverage
.classpath
.idea
.project
.pydevproject
.repository
.settings/
.metadata/
.tox/
.venv/
.virtualenv/
coverage.xml
covhtml/
deleteme
deployer.conf
eula.html
target/
dist/
MANIFEST
nosehtml/
nosetests.xml
pep8.txt
pylint.txt
pyflakes.txt
flake8.txt
run_tests.log
*.sass-cache*

